<div class="qf-toaster"
     [@fadeAnimation]="{value: animationState, params: {fadeIn: 300, fadeOut: 300}}"
     (@fadeAnimation.done)="onFadeComplete($event)"
>
  <div class="qf-toaster-body">
    <i><svg viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M7 0C3.1402 0 0 3.1402 0 7C0 10.8598 3.1402 14 7 14C10.8598 14 14 10.8598 14 7C14 3.1402 10.8598 0 7 0ZM5.6007 10.0891L3.0016 7.4956L3.99 6.5044L5.5993 8.1109L9.3051 4.4051L10.2949 5.3949L5.6007 10.0891Z"
      />
    </svg>
  </i>
    <div class="qf-toaster-content">
      <span class="qf-toaster-title">{{data?.text}}</span>
    </div>
  </div>
  <span class="qf-btn" (click)="close()"><i>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></i></span>
</div>
