.qf-toaster {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #cbe2f9;
  box-shadow: 0 0 4px  #0b5cad;
  padding: 0.5rem;
  border-radius: 4px;
  z-index: 9999;

  .qf-btn {
    margin-left: 0.5rem;
    i {
      font-size: 20px;
      font-weight: 100;
      height: 1rem;
      ::ng-deep {
        svg {
          stroke: #0b5cad;
          fill:  #cbe2f9;
          height: 1rem;
        }
      }
    }
  }

  .qf-toaster-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;

    i {
      font-size: 22px;
      font-weight: 100;
      ::ng-deep {
        svg {
          fill: #0b5cad;
          height: 1rem;
        }
      }
    }
    .qf-toaster-content {
      padding: 0 0 0 10px;
      .qf-toaster-title {
        font-size: 18px;
        color: #0b5cad;
      }
    }
  }
}
